.p-col-small {
  margin-left: 200px;
  float: left;
}

.sidebar {
  width: 200px;
  height: 200%;
  position: fixed;
  float: left;
  background-color: rgb(216, 216, 216);
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px; 
  margin-right: 10px;
}

.row-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  display: block;
  margin-top: 15px;
  padding-top: 15px;
  border: 5px;
  border-width: 5px;
  border-color: black;
}

/* #col-1 .sidebar{
  position: fixed;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: hidden;
} */

.img {
  width: 300px;
  float: left;
  /* margin-left: 200px; */
  margin-right: 15px;
  display: block;
}

.box1 {
  width: 50%;
  border: solid rgb(170, 88, 88);
  border-width: 1px;
  display: block;
  margin: auto;
  background-color: rgb(119, 192, 97);
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}
.box2 {
  width: 50%;
  min-height: 155px;
  border: solid rgb(0, 0, 0);
  border-width: 1px;
  display: block;
  margin: auto;
  background-color: rgb(255, 175, 175);
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;  
}

.box-main {
  width: 100%;
  border: solid rgb(170, 88, 88);
  border-width: 1px;
  display: block;
  margin: auto;
  background-color: rgb(119, 192, 97);
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}

.box2-main {
  width: 100%;
  min-height: 155px;
  border: solid rgb(0, 0, 0);
  border-width: 1px;
  display: block;
  margin: auto;
  background-color: rgb(255, 175, 175);
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: left;  
}

.li-lg {
  font-size: large;
  font-weight: bold;
}

.li-normal {
  font-size: medium;
  font-weight: normal;
}


body {
  background-color: burlywood;
}

.center {
  text-align: center;
}

.small-caps {
  text-align: center;
  font-variant: small-caps;
}

.float-l {
  float: left;
  padding-left: 20px;
}

#container {
position: relative;
width: 100%;
height: 300%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
border-width: 3px;
border-color: black;
}

.container-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 200px;
}

#main {
  margin-left: 200px;
  padding: 0px 10px;
}

.card_1 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-left: 210px;
}

.underline {
  text-decoration: underline;
}